<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qsxh.dao.RoleMapper">
        <!-- 根据角色id删除sys_role_menu里面的数据 deleteRolMenuByRid -->
        <delete id="deleteRolMenuByRid">
		delete from tblrm where roleid=#{roleid}
	    </delete>
        <!-- 保存角色和菜单之间的关系 -->
        <insert id="insertRoleMenu">
		insert into tblrm (roleid,menuid) values(#{roleid},#{menuid})
	    </insert>


</mapper>